@import "spec";

:root {
  --background-color: #F2F2F2;

  --color-secondary: #FF6C2E;
  --color-primary: #3880EC;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-green: #53B71B;
  --color-red: #F42F2F;
  --color-yellow: #FFC700;

  --color-black-muted-60: rgba(0, 0, 0, 0.60);
  --grey-button-hover: #E1E2E3;

  font-family: 'Circular Std', sans-serif;
  line-height: 1;
  font-weight: 450;

  color-scheme: light;
  color: var(--color-black);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

img {
  user-select: none;
  max-width: 100%;
  object-fit: cover;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-MediumItalic.eot');
  src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
  url('../fonts/CircularStd/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-MediumItalic.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-MediumItalic.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-Black.eot');
  src: local('Circular Std Black'), local('CircularStd-Black'),
  url('../fonts/CircularStd/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-Black.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-Black.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-Medium.eot');
  src: local('Circular Std Medium'), local('CircularStd-Medium'),
  url('../fonts/CircularStd/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-Medium.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-Medium.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-Bold.eot');
  src: local('Circular Std Bold'), local('CircularStd-Bold'),
  url('../fonts/CircularStd/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-Bold.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-Bold.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-BlackItalic.eot');
  src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
  url('../fonts/CircularStd/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-BlackItalic.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-BlackItalic.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd/CircularStd-BookItalic.eot');
  src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
  url('../fonts/CircularStd/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-BookItalic.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-BookItalic.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-BoldItalic.eot');
  src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
  url('../fonts/CircularStd/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-BoldItalic.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-BoldItalic.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd/CircularStd-Book.eot');
  src: local('Circular Std Book'), local('CircularStd-Book'),
  url('../fonts/CircularStd/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-Book.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-Book.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* VARIBLES, MIXINS, FUNCTIONS */
@import "components/buttons";