@import "../../assets/scss/spec/mixins";

.ChainItem {
  grid-template-columns: 1fr;
  gap: 12px;
  text-align: center;
  display: grid;
  transform: scale(0);
  transition: .3s;

  &__title {
    color: var(--black, #1D1D1F);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.14px;
  }

  &__image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: table;
    margin: 0 auto;
  }
}

.Chains {
  &__row {
    width: 100%;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, height .6s;

    &--visible {
      visibility: visible;
      opacity: 1;

      .ChainItem {
        transform: scale(1);
      }

      &:not(:first-child) {
        margin-top: 32px;

        @include media-up(lg) {
          margin-top: 36px;
        }

        @include media-up(xxl) {
          margin-top: 40px;
        }
      }
    }

    @include media-up(md) {
      grid-template-columns: repeat(6, 1fr);
      padding: 0 32px;
    }

    @include media-up(lg) {
      padding: 0 66px;
    }

    @include media-up(xl) {
      padding: 0 148px;
    }
  }

  &__rows {
    transition: .3s;

    &--visible {

    }
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;

    @include media-up(md) {
      margin-bottom: 32px;
    }

    @include media-up(lg) {
      margin-bottom: 36px;
    }

    @include media-up(xxl) {
      margin-bottom: 40px;
    }
  }

  &__buttons {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-up(md) {
      margin-top: 32px;
    }

    @include media-up(lg) {
      margin-top: 36px;
    }

    @include media-up(xxl) {
      margin-top: 40px;
    }
  }

  &__limit {
    color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.32px;
  }
}