input[type="button"], input[type="reset"], input[type="submit"], button, .Button {
  display: inline-flex;
  align-items: center;
  height: 44px;
  padding: 14px 20px;
  background-color: var(--color-primary);
  color: var(--white, #F9F9F9);
  border-radius: 4px;
  user-select: none;
  transition: background-color .2s, color .1s;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.32px;
  font-feature-settings: 'clig' off, 'liga' off;

  &:hover {
    color: var(--black, #1D1D1F);
    background: var(--buttons-grey-hover, #E1E2E3);
  }

  &:active {
    color: var(--black, #1D1D1F);
    background: var(--buttons-grey-pressed, #CECECE);
  }
}

.Button {
  &--orange {
    background: var(--orange, #FF6C2E);
  }

  &--secondary {
    color: var(--blue, #3880EC);
    background: var(--buttons-button-secondary-default, #DCE9FE);
  }

  &--link {
    height: 44px;
    padding: 0 8px;
    color: var(--buttons-button-default, #3880EC);
    background: none;

    &:hover, &:active {
      background: none;
      color: var(--black, #1D1D1F);
    }
  }

  &--single {
    padding: 0 20px;
  }
}