@import "../../assets/scss/spec/mixins";

.Header {
  $root: &;
  padding: 12px 0;
  background: rgba(246, 248, 251, 0.10);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--black, #1D1D1F);

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__logo {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  &__nav {
    display: none; // Only mobile

    @include media-up(lg) {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__link {
    @include media-up(lg) {
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.28px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      gap: 4px;
      height: 36px;
    }
  }

  &__section {
    display: none; // Only mobile

    @include media-up(lg) {
      display: flex;
      align-items: center;
    }
  }

  &--dark {
    background: rgba(6, 7, 34, 0.10);
    color: var(--white, #FFF);

    .Menu-button {
      & > span {
        border-color: #F2F2F2;
      }
    }

    #{$root} {
      &__link {
        & > img {
          filter: invert(100%);
        }
      }
    }
  }
}

.Menu-button {
  display: table;
  border-style: none;
  border-width: 0;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  width: 24px;
  height: 24px;
  position: relative;

  @include media-up(lg) {
    display: none;
  }

  & > span {
    display: table;
    width: 18px;
    height: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    border-color: #1D1D1F;
    border-width: 1px;
    border-style: solid;
    transition: .3s;

    &:nth-child(1) {
      top: 6px;
    }

    &:nth-child(2) {
      top: 12px;
    }

    &:nth-child(3) {
      top: 18px;
    }
  }

  &--open {
    & > span {
      &:nth-child(1) {
        top: 12px;
        transform: translateX(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        top: 12px;
        transform: translateX(-50%) scale(0);
        opacity: 0;
      }

      &:nth-child(3) {
        top: 12px;
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }
}