@import "../../assets/scss/spec/mixins";

.Section {
  position: relative;
  z-index: 1;
  $root: &;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px 32px;

  @include media-up(lg) {
    gap: 52px 32px;
  }

  @include media-up(xl) {
    gap: 64px 32px;
  }

  @include media-up(xxl) {
    gap: 80px 32px;
  }

  &--row {
    @include media-up(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--g32 {
    gap: 32px 32px;

    @include media-up(md) {
      gap: 40px 32px;
    }

    @include media-up(lg) {
      gap: 52px 32px;
    }

    @include media-up(xl) {
      gap: 64px 32px;
    }

    @include media-up(xxl) {
      gap: 80px 32px;
    }
  }
}