@import "../../assets/scss/spec/mixins";

.Footer {
  margin-top: 64px;
  padding-top: 24px;
  border-top: 1px solid var(--black-muted-10, rgba(29, 29, 30, 0.10));

  @include media-up(md) {
    padding: 16px 0;
    margin-top: 100px;
  }

  &__items {
    display: flex;
    flex-direction: column;

    @include media-up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;

    @include media-up(md) {
      flex-direction: row;
      align-items: center;
      padding-bottom: 0;
    }

    p {
      color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
      font-size: 12px;
      font-weight: 450;
      line-height: 150%;
    }

    a {
      color: var(--black, #1D1D1F);
      font-size: 12px;
      font-weight: 450;
      line-height: 150%;
      transition: .3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: 0 14px;
    justify-content: space-between;
    padding: 16px 0;

    @include media-up(md) {
      padding: 0;
    }

    a {
      transition: .3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__item-powered {
    width: 52px;
    object-fit: contain;

    @include media-up(xl) {
      width: 70px;
    }
  }

  &__item-polygon {
    width: 46px;
    object-fit: contain;

    @include media-up(xl) {
      width: 63px;
    }
  }

  &__item-gcloud {
    width: 72px;
    object-fit: contain;

    @include media-up(xl) {
      width: 98px;
    }
  }

  &__item-substrabe {
    width: 52px;
    object-fit: contain;

    @include media-up(xl) {
      width: 72px;
    }
  }
}