@import "../../assets/scss/spec/mixins";

.scroll-page {
  @include media-up(lg) {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      width: 100%;
    }
  }
}

.table-over {
  overflow: hidden;
  width: 100%;

  @include media-up(md) {
    overflow: visible;
  }
}

.Table {
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 -16px;

  @include media-up(md) {
    margin: 0;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;

    @include media-down(md) {
      font-size: 32px;
      margin-top: 40px;
      margin-bottom: 24px;
    }

    @include media-down(sm) {
      font-size: 24px;
      margin-top: 56px;
    }

    .br {
      display: block;
    }

    .icon {
      content: url('../../assets/images/fist.png');
      width: 24px;
      height: 24px;
      position: relative;
      top: 4px;

      @include media-up(md) {
        margin-right: 12px;
        width: 32px;
        height: 32px;
      }

      @include media-up(lg) {
        margin-right: 12px;
        width: 40px;
        height: 40px;
      }

      @include media-up(xxl) {
        margin-right: 16px;
        width: 44px;
        height: 44px;
      }
    }

    @include media-up(lg) {
      margin-bottom: 32px;
    }

    @include media-up(xll) {
      margin-bottom: 36px;
    }
  }

  &__wrapper {
    padding: 24px 16px;
    background: var(--white, #FFF);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;

    @include media-up(md) {
      padding: 24px;
    }

    @include media-up(lg) {
      padding: 24px 16px;
    }

    @include media-up(xl) {
      padding: 24px 32px;
    }
  }

  &__items {
    display: flex;
    position: relative;

    @include media-up(md) {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 14px;
    }

    @include media-up(lg) {
      grid-template-columns: 120px 1fr;
      gap: 44px;
    }

    @include media-up(xl) {
      gap: 88px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 43px;
      left: 0;
      background-color: var(--black-muted-10, rgba(29, 29, 30, 0.10));
      width: 100%;
      height: 1px;
    }

  }

  &__item {
    min-width: 160px;

    @include media-up(md) {
      display: grid;
      grid-template-columns: repeat(5, minmax(100px, 1fr));
      justify-content: space-between;
      gap: 15px;
      min-width: auto;
    }
  }

  &__item-wrap {

  }

  &__virtual {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 100%;

    .swiper {
      height: 100%;
    }

    @include media-up(md) {
      display: none;
    }
  }
}

.Table-header {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-bottom: 20px;
  padding-bottom: 20px !important;
  gap: 24px;

  @include media-up(md) {
    height: 44px;

    .swiper-wrapper {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item {
    color: var(--black, #1D1D1F);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    font-weight: 450;

    &--empty {
      display: none;
    }

    &--bold {
      font-weight: 700;
      color: var(--black, #1D1D1F);
    }
  }
}

.Table-rows {

}

.Table-row {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include media-up(md) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & > span {
    display: flex;
    align-items: center;

    color: var(--black, #1D1D1F);
    font-size: 14px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.28px;

    b {
      font-weight: 700;
    }
  }

  &__title {
    color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
    font-size: 12px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.24px;
    margin-bottom: 6px;
    position: relative;

    @include media-up(md) {
      font-size: 14px;
      margin-bottom: 0;
      display: flex;

    }
  }

  &__items {
    display: flex;
    gap: 24px;
    padding: 6px 0;
  }

  &__item {
    color: var(--black, #1D1D1F);
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.28px;
  }
}


.IndicatorTable {
  max-width: 10px;
  min-width: 10px;
  max-height: 10px;
  min-height: 10px;
  border-radius: 50%;
  display: table;
  background-color: #1D1D1F;
}