@import "../../assets/scss/spec/mixins";

.Table {
  overflow: hidden;

  &__title {
    margin-bottom: 24px;
    text-align: center;

    span {
      content: url('../../assets/images/fist.png');
      width: 24px;
      height: 24px;
      position: relative;
      top: 4px;

      @include media-up(md) {
        margin-right: 12px;
        width: 32px;
        height: 32px;
      }

      @include media-up(lg) {
        margin-right: 12px;
        width: 36px;
        height: 36px;
      }

      @include media-up(xxl) {
        margin-right: 16px;
        width: 44px;
        height: 44px;
      }
    }

    @include media-up(lg) {
      margin-bottom: 32px;
    }

    @include media-up(xll) {
      margin-bottom: 36px;
    }
  }

  &__wrapper {
    padding: 24px 16px;
    background: var(--white, #FFF);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;

    @include media-up(md) {
      padding: 24px;
    }

    @include media-up(lg) {
      padding: 24px 16px;
    }

    @include media-up(xl) {
      padding: 24px 32px;
    }
  }

  &__virtual {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 100%;

    .swiper {
      height: 100%;
    }

    @include media-up(md) {
      display: none;
    }
  }
}

.Table-header {
  border-bottom: 1px solid var(--black-muted-10, rgba(29, 29, 30, 0.10));
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-bottom: 20px;
  padding-bottom: 20px !important;
  gap: 24px;

  @include media-up(md) {
    .swiper-wrapper {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item {
    color: var(--black, #1D1D1F);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;

    &--empty {
      display: none;
    }

    &--bold {
      font-weight: 700;
    }
  }
}

.Table-rows {
}

.Table-row {
  @include media-up(md) {
    .swiper-wrapper {
      justify-content: space-between;
      align-items: center;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__title {
    color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
    font-size: 12px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.24px;
    margin-bottom: 6px;
    position: relative;
    left: 0;

    @include media-up(md) {
      font-size: 14px;
    }
  }

  &__items {
    display: flex;
    gap: 24px;
    padding: 6px 0;
  }

  &__item {
    color: var(--black, #1D1D1F);
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.28px;
  }
}


.IndicatorTable {
  max-width: 10px;
  min-width: 10px;
  max-height: 10px;
  min-height: 10px;
  border-radius: 50%;
  display: table;
  background-color: #1D1D1F;
}