@import "../../assets/scss/spec/mixins";

.CardsSections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  margin-bottom: 32px;

  @include media-up(md) {
    margin-bottom: 40px;
  }

  @include media-up(lg) {
    margin-bottom: 52px;
  }

  @include media-up(xl) {
    margin-bottom: 64px;
  }

  @include media-up(xxl) {
    margin-bottom: 80px;
  }

  @include media-up(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.CardsSection {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 16px;
    text-align: center;

    @include media-up(lg) {
      margin-bottom: 24px;
    }

    @include media-up(xxl) {
      margin-bottom: 32px;
    }
  }

  &__text {
    color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
    text-align: center;
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.32px;
    margin-bottom: 24px;

    @include media-up(lg) {
      margin-bottom: 32px;
    }

    @include media-up(xxl) {
      margin-bottom: 36px;
    }
  }

  .ListNumber {
    margin-bottom: 24px;
  }

  &__buttons {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.AppchainPromo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include media-up(md) {
    padding: 40px 24px;
  }

  @include media-up(md) {
    flex-direction: row;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;

    @include media-up(md) {
      margin-right: 16px;
    }

    @include media-up(xl) {
      width: 32px;
      height: 32px;
      margin-right: 24px;
    }
  }

  p {
    color: var(--black, #1D1D1F);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-top: 16px;

    @include media-up(md) {
      margin-top: 0;
    }

    @include media-up(xl) {
      font-size: 20px;
    }
  }
}