@import "../../assets/scss/spec/mixins";

.HomePage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @include media-up(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-up(xl) {
    gap: 40px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

    @include media-up(xl) {
      gap: 40px;
    }

    .Card {
      height: 100%;
    }
  }
}

.HomePage-card {
  display: grid;
  grid-template-areas: 'Icon Title' 'Desc Desc' 'Buttons Buttons';
  grid-template-columns: auto 1fr;
  align-items: center;
  align-content: space-between;
  gap: 12px;
  height: 100%;

  @include media-up(xl) {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'Icon Title Buttons' 'Icon Desc Buttons';
    gap: 16px 24px;
    align-content: center;
  }

  &__icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    grid-area: Icon;

    @include media-up(xl) {
      width: 64px;
      height: 64px;
    }
  }

  &__title {
    grid-area: Title;
    color: var(--black, #1D1D1F);
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;

    @include media-up(md) {
      font-size: 24px;
    }
  }

  &__desc {
    color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.32px;
    grid-area: Desc;
  }

  &__buttons {
    display: grid;
    grid-template-areas: 'Button Button2';
    grid-template-columns: repeat(2, minmax(100px, 200px));
    gap: 24px;
    text-align: center;
    margin-top: 12px;
    grid-area: Buttons;

    @include media-up(xl) {
      grid-template-columns: 130px;
      gap: 16px;
      margin-left: 8px;
      margin-top: 0;
      grid-template-areas:  'Button2' 'Button';
    }

    .Button {
      justify-content: center;
      padding: 0;
    }
  }

  &__button {
    grid-area: Button;
  }

  &__button2 {
    grid-area: Button2;
  }
}

.HomePageCard {
  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    margin-bottom: 12px;
    align-content: center;

    @include media-up(md) {
      margin-bottom: 16px;
    }
  }

  &__image {
    width: 24px;
    height: 24px;
    object-fit: contain;

    @include media-up(xxl) {
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    color: var(--black, #1D1D1F);
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    align-self: center;

    @include media-up(md) {
      font-size: 24px;
    }
  }

  &__text {
    color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.32px;

    &:not(:last-child) {
      margin-bottom: 12px;

      @include media-up(md) {
        margin-bottom: 16px;
      }
    }
  }

  &__items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @include media-up(md) {
      margin-top: 16px;
    }

    p {
      color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
      font-size: 16px;
      font-weight: 450;
      line-height: 150%;
      letter-spacing: 0.32px;

      b {
        color: var(--black, #1D1D1F);
      }
    }
  }

  a {
    color: var(--buttons-button-default, #3880EC);
  }
}