@import "./assets/scss/spec/mixins";

* {
  font-family: 'Circular Std', sans-serif;
}

body {
  background: var(--background, #F6F8FB);
  transition: background .3s ease-in-out;
}

.Container {
  max-width: 1224px + (28px * 2);
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @include media-up(md) {
    padding: 0 24px;
  }

  @include media-up(lg) {
    padding: 0 28px;
  }
}

.hidden {
  display: none !important;
}

.form-email {
  display: flex;
  border-radius: 4px;

  label {
    width: 100%;
    display: flex;
    height: 64px;
    padding: 8px 8px 8px 24px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--white-cards, #FFF);
    border: 1px solid var(--white-cards, #FFF);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: .2s;
  }

  input {
    font-size: 17px;
    font-weight: 450;
    line-height: 160%;
    letter-spacing: 0.34px;

    &::placeholder {
      color: var(--black-muted-30, rgba(29, 29, 31, 0.30));
    }
  }

  &:hover, &--focused {
    outline: 3px solid #DCE9FE;

    label {
      border-color: var(--black-muted-10, rgba(29, 29, 30, 0.10));
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
  }
}


.animation-scale-hover {
  transition: transform .4s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}