.CardPrice {
  color: var(--black, #1D1D1F);
  border-color: var(--black-muted-70, rgba(29, 29, 30, 0.70));

  &__title {

    text-align: center;
    font-feature-settings: 'cpsp' on;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.4px;
    margin-bottom: 16px;
  }

  &--focusable {
    color: var(--blue, #3880EC);
    border-color: var(--blue, #3880EC);
  }
}

.CardPriceItem {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;

  &__header {

  }

  &__main {

  }

  &__symbol {

  }

  &__price {

  }

  &__month {

  }

  &__list {
    li {

    }
  }
}