@import "../../assets/scss/spec/mixins";

.PageBanner {
  $root: &;
  padding-top: 24px;
  margin-bottom: 40px;

  @include media-up(md) {
    text-align: center;
    padding-top: 40px;
  }

  @include media-up(lg) {
    padding-top: 80px;
    margin-bottom: 80px;
  }

  @include media-up(xl) {
    padding-top: 100px;
    margin-bottom: 100px;

    &--image {
      display: grid;
      text-align: left;
      grid-template-columns: 1fr 604px;
      gap: 0 56px;
      align-items: center;
    }
  }

  @include media-up(xxl) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__subtitle {
    color: var(--orange, #FF6C2E);
    font-size: 24px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 8px;
    white-space: pre-line;

    @include media-up(xl) {
      font-size: 32px;
      margin-bottom: 24px;
    }

    @include media-up(xxl) {
      font-size: 44px;
    }
  }

  &__title {
    margin-bottom: 16px;
    white-space: pre-line;

    @include media-up(xl) {
      margin-bottom: 24px;
    }
  }

  &__text {
    color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
    font-size: 16px;
    font-weight: 450;
    line-height: 180%;
    letter-spacing: 0.32px;
    margin-bottom: 32px;
    white-space: pre-line;

    @include media-up(xl) {
      font-size: 20px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;

    @include media-up(md) {
      justify-content: center;
    }
  }

  &__image {
    max-width: 842px;
    width: 100%;
    display: table;
    margin: 40px auto 0 auto;

    @include media-up(xl) {
      margin: 0;
    }
  }

  &--image {
    #{$root} {
      &__buttons {
        @include media-up(xl) {
          justify-content: flex-start;
        }
      }
    }
  }
}