@import "../../assets/scss/spec/mixins";

.PageBanner {
  padding-top: 24px;
  padding-bottom: 40px;

  @include media-up(md) {
    text-align: center;
    padding-top: 40px;
  }

  @include media-up(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include media-up(xl) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include media-up(xxl) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__subtitle {
    color: var(--orange, #FF6C2E);
    font-size: 24px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 8px;
    white-space: pre-line;

    @include media-up(xl) {
      font-size: 32px;
      margin-bottom: 24px;
    }

    @include media-up(xxl) {
      font-size: 44px;
    }
  }

  &__title {
    margin-bottom: 16px;
    white-space: pre-line;

    @include media-up(xl) {
      margin-bottom: 24px;
    }
  }

  &__text {
    color: var(--black-muted-70, rgba(29, 29, 30, 0.70));
    font-size: 16px;
    font-weight: 450;
    line-height: 180%;
    letter-spacing: 0.32px;
    margin-bottom: 32px;
    white-space: pre-line;

    @include media-up(xl) {
      font-size: 20px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;

    @include media-up(md) {
      justify-content: center;
    }
  }
}